<div class="jumbotron">
  <h1>dashboard.</h1>


  <div class="list-group">
    <a href="#" class="list-group-item active">
      Number of items
    </a>
    <%= link_to([:admin, :categories], :class=>"list-group-item") do %>
      Categories
      <span class="badge"><%= @category_count %></span>
    <% end %>
    
    <%# link to the admin products page %>
    <%= link_to([:admin, :products], :class=>"list-group-item") do %>
      Products
      <span class="badge"><%= @product_count %></span>
    <% end %>
  </div>
</div>

