

<div class=jumbotron>
  <h1>our story.</h1>
  <p>We don't actually have a story, we aren't real.</p>
  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Learn more
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Why did you click the button? I told you... there is nothing to learn. We don't exist.
    </div>
  </div>
</div>
<hr/>
<div>© 2021 Jungle, Inc. (Doesn't exist)</div>